<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>

<div>
	
	<h2> Assignment #3 - Express - React with CRUD Operations</h3>
	<h3> Express REST API is up and running</h2>
    <h3> Submitted by Shaminda Abeysekara,Student#301056885 and Sanjib Saha, Student #301100387</h3>

</div>

</body>
</html>
